*{
    color: #fff !important;
}

.headerfterbg{
    background-color: #1A1A1A;
}

.redcolorbg{
    background-color: #E54E5D;
}

body{
    background-color: #E8E5E5;
}

.search_bar {
    width: 40vw;
    margin-right: 15vw;
    margin-top: 2vh;
}

.carticon{
    font-size: x-large;
    padding: 15px;
    border-radius: 100%;
    margin-right: 5px;
}

@media (max-width: 991px) {
    .search_bar{
        width: 100%;
    }
}
